/* Colors and fonts */
body {
	background: #F7F9FC;
	color: #575F7D;
	font-family: "DM Sans", sans-serif;
	font-size: 17px;
	font-weight: lighter;
}
h1, h2, h3 {
	font-family: "PT Serif", serif;
	font-weight: 400;
  	font-style: normal;
}
h1 {
	color: #2E073F;
	font-size: 32px;
	font-weight: 700;
}
h2 {
	color: #7A1CAC;
	font-size: 24px;
	font-weight: 400;
}
a {
	text-decoration: none;
	color: #9B7EBD;
	font-weight: bold;
	font-size: 14px;
	transition: color 0.3s ease;
}
a:hover {
	color: black;
}

/* Custom design with class */
.container {
	width: 700px;
	margin: 40px auto;
}

@media (max-width: 760px) {
	.container {
		width: 600px;
	}
}
@media (max-width: 500px) {
	.container {
		width: 400px;
	}
}

.card-white {
	background-color: white;
	padding: 40px;
	box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
	border-radius: 6px;
	margin: 20px 0px;
	text-align: center;
}
.img-circle {
	border-radius: 50%;
}
.btn-blue {
	background-color: #9B7EBD;
	color: white;
	padding: 15px 20px;
	border-radius: 6px;
}
.btn-blue:hover {
	background-color:  #2E073F;
	color: white;
}
.list-inline {
	list-style: none;
	padding-left: 0px;
}
.list-inline li {
	display: inline;
	padding: 10px;
}
.list-inline i {
	font-size: 40px;
	color: #9B7EBD;
}
.list-inline i:hover {
	font-size: 40px;
	color: #2E073F;
}
#introduction p {
margin-bottom: 40px;
}
